{{> comp/nav}}

<main>
    <section>
        <div class="container section">
            <div class="row">

                <div class="col l12 m12 s12">
                    <div id="theoryDiv" class="white-text center">
                        <span class="gotTheoryLogo">GoT Theories?</span>
                        <div id="theoryModal"><a class="waves-effect btn modal-trigger black left writeTheory"
                                href="#modal1"><i class="material-icons left" id="writeLogo">create</i>Write Theory</a>
                        </div>
                        <div id="theoriesGoHere" class="section">
                            <div class="row section">

                                {{#each posts}}
                                <div class="post card">
                                    <div id="likes"></div>
                                    <div class="card-title">{{this.title}}</div>
                                    <div class="card-content">
                                        <span>{{this.body}}</span>

                                        <div class="voting center">
                                            <button type="submit" class="waves-effect btn black center writeTheory upVote" id="like"
                                                value="{{this.id}}">Up
                                                Vote</button>
                                            <button type="submit" class="waves-effect btn black center writeTheory dwnVote"
                                                id="dislike" value="{{this.id}}">Down
                                                Vote</button>
                                            <button class="waves-effect btn black center writeTheory edit" id="edit"
                                                value="{{this.id}}">Edit</button>
                                            <button class="waves-effect btn black center writeTheory comment"
                                                id="comment" value="{{this.id}}"
                                                href="/comment/{{this.id}}">Comment</button>
                                            <button class="waves-effect btn black center writeTheory delete" id="delete"
                                                value="{{this.id}}">X</button>
                                        </div>

                                        <div class="timeCreated">{{timeStamp this.createdAt}}</div>

                                    </div>
                                </div>
                                {{/each}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

    </section>
</main>

{{> comp/footer}}

<!-- CREATE THEORY MODAL -->
<div id="modal1" class="modal">
    <div class="modal-content">
        <div class="row">
            <div class="col s12">
                <label for="icon_prefix" id="author"></label>

            </div>
            <div class="input-field col s12 titleLabel">
                <input id="title" type="text">
                <label for="icon_prefix" class="black-text">Title:</label>

            </div>
            <form class="col s12">
                <div class="row">
                    <div class="input-field col s12">
                        <textarea id="body" class="materialize-textarea"></textarea>
                        <label for="textarea1" class="black-text">Theory:</label>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <a href="#!" id="cms" class="modal-close waves-effect theoryModal btn-flat white-text black">Submit</a>
    </div>
</div>

<!-- firebase -->
<script src="https://www.gstatic.com/firebasejs/5.8.6/firebase.js"></script>
<script src="js/firebase.js"></script>
<script src="js/theorySubmit.js" type="text/javascript"></script>
<script src="js/main.js" type="text/javascript"></script>


<script>
    $(document).ready(function () {
        $(".sidenav").sidenav();
        $(".dropdown-trigger").dropdown();
        $('.modal').modal();
        $('select').formSelect();

    });
</script>